.infoform{
    margin: 0 auto;
    width: 500px;
    /* background-color: rgb(66, 68, 68); */
    padding: 10px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.form_one{
    position: relative;
}
.label_form{
display: block;
text-align: left;
margin-bottom: 15px;
color: black;
margin-top: 15px;
}

.input_form{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    height: 40px;
    background-color: #ccc;
}
.error{
    position: absolute;
    bottom: -7px;
    text-align: left;
    color: red;
    font-size: 15px;
    margin-bottom: 0px;
}
.btn-buttonn{
    outline: none;
    border: none;
    padding: 10px 30px; 
    width: 50%;
}
.header {
    color: red;
    font-size: 30px;
    text-align: center;
}
.form_btn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.linhchocho{
    color: rgb(226, 156, 27);
    margin-top: 5px;
}
.linhcho{
    text-decoration: none;
    text-transform: uppercase;
color: red;
}
.header_body {
    width: 100%;
    height: 100vh;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.infoform{
    background-color: white;
    margin-top: 70px;
}