.nav_link {
   text-decoration: none;
}
.nav_search{
   border: none;
   outline: none;
   width: 300px;
   padding-left: 10px;
}
.white{
    color: white;
    padding-left: 10px;
}
.cart_quantyti{
   position: relative;
}
.cart_quantyti span{
   position: absolute;
   top: 0;
   font-size: 15px;
   border: 1px solid white;
   right: -10;
   padding: 0px 4px;
   border-radius: 50%;
}
<<<<<<< HEAD
=======
.me-2{
   background-color: unset !important;
   border: unset !important;
}
>>>>>>> 860e72d08ed666dc6d5632460de0f60bec6d6bcb
