.nav_link {
   text-decoration: none;
}
.nav_search{
   border: none;
   outline: none;
   width: 300px;
   padding-left: 10px;
}
.white{
    color: white;
    padding-left: 10px;
}
.cart_quantyti{
   position: relative;
}
.cart_quantyti span{
   position: absolute;
   top: 0;
   font-size: 15px;
   border: 1px solid white;
   right: -10;
   padding: 0px 4px;
   border-radius: 50%;
}
.me-2{
   background-color: unset !important;
   border: unset !important;
}
.test{
   padding: 0px 0px 10px 0px  !important;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   margin: 0px !important;
}
.th{
   background-color: #212529;
   margin: 0 !important;
   padding-bottom: 10px  !important;
}
