.list_link {
    line-height: none;
    text-decoration: none;
    color: rgb(39, 32, 22);
}

.list_link:hover{
    color: red;
}
.list{
    padding: 20px;
   background-color: #f5f5f5;
}
.abccc {
    overflow: hidden;
    margin: 0;
    background: #222;
  }
.container_list{
  margin-top: 50px;
}
.list_title-price {
  color: red;
  font-size: 35px;
  margin-bottom: 25px;
}
.list_btn{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.list_btn-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_btn-left button{
 width: 40px;
  outline: none;
  border: 1px solid #ccc;
  padding: 8px;
  background-color: white;
}
.list_btn-left button:hover{
  background-color: #ccc;
}
.list_btn-left input{
  max-width: 80px;
  outline: none;
  border: 1px solid #ccc;
  text-align: center;
  height: 40px;
}
.list_btn-left input:focus{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
.list_btn-right button{
  background-color: #222;
  color: white;
  height: 40px;
  padding: 0px 15px;
  margin-left: 20px;
  text-transform: uppercase;
}
.list_btn-have button{
  background: -webkit-linear-gradient(top,#F8531F,#fd6e1d);
  color: white; 
}
.btn_have{
  font-size: 20px;
  padding: 2px 50px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.btn_have span{
  font-size: 15px;
}
.btn_have:hover{
  background: -webkit-linear-gradient(top,#fd6e1d,#f59000)
}
.list_danhmuc{
  color: #999;
  font-size: 15px;
}
.list_danhmuc-link{
text-decoration: none;
color: black;
font-size: 18px;
}
.list_danhmuc-link:hover{
  color: black;
}
.list_thanhtien{
  display: flex;
  align-items: center;
}
.list_thanhtien p{
  font-size: 20px;
 color: #f59000;
 margin-bottom: 0px;
 margin-right: 20px;
}
.list_thanhtien span{
  color: red;
  font-size: 25px;
}
.list_shiiping-heading{
background-color: #eaeaea;
padding: 10px 0px 10px 15px;
margin-bottom: 15px;
}
.list_shiiping-heading p{
  color: green;
  text-transform: uppercase;
  margin-bottom: 10px;
}    
.list_shiiping-heading span{
  color: #222;
  font-size: 15px;

}          
.list_shipping-title{
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
.list_shipping-title:last-child{
  border-bottom: 1px solid #ccc;
}
.list_title-title p{
  margin-bottom: 0;
  color: red;
  font-size: 18px;
  font-weight: 500;
}
.list_title-title span{
  font-size: 13px;
}
.list_icon{
  font-size: 50px;
  margin-right: 20px;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite; 
  -o-animation: my 700ms infinite; 
  animation: my 700ms infinite;
}
.list_shiiping{
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@-webkit-keyframes my {
  0% { color: #F8CD0A; } 
  50% { color: greenyellow;  } 
  100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
  0% { color: #F8CD0A;  } 
  50% { color: greenyellow;  }
  100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
  0% { color: #F8CD0A; } 
  50% { color: greenyellow; } 
  100% { color: #F8CD0A;  } 
}
@keyframes my { 
  0% { color: #F8CD0A;  } 
  50% { color: greenyellow;  }
  100% { color: #F8CD0A;  } 
} 

.info__Product{
  position: relative;
}
.Loading__info{
  z-index: 200;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  background-color: #222;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.Loading__info p{
  opacity: 1;
  font-size: 30px;
  color: white;
}
