.navadmin{
    background-color: #4b536e;
}
.navadmin_nav{
    color: #abb9e8 !important;
}

.nav-link{
    width: 100%;
    background-color: red;
}
.Homeadmin p{
    margin-top: 10px;
} 
 .navadmin_menu{
    background-color: #e1dcdc;
    opacity: 0.9;
    padding: 0px !important;
    min-height: 100vh;
  }
  .navadmin_center{
    background-color: #f3f3f9;   
    opacity: 0.9;
  }
  .navadmin_link {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
  }
  
  .text-container {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 25px;
    color: rgba(225,225,225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }
  
 .navadmin_link-link{
  
 }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: black !important;
  }
  .admin_nav-link{
    padding: 20px 0px 20px 20px !important;
  }